@page
@model ContosoUniversity_RazorPages.Pages.ConverterModel
@{
    ViewData["Title"] = "Converter";
}

<header class="jumbotron">
    <h1>Ana's Currency Converter</h1>
    <p class="lead">
        This program will convert money entered in whole pounds
        to the equivalent euros.
    </p>
</header>
<main>
    <form class="form-row" method="Post">
        <div class="form-group col-lg-3">
            <label for="pounds">Enter British Pounds (£)</label>
            <input type="number" class="form-control"
                   id="pounds" asp-for="Pounds" required />
        </div>
        <div class="form-group col-lg-3">
            <label for="euros">Calculated Euros (&euro;)</label>
            <input type="text" id="euros" class="form-control"
                   value="@Model.Euros.ToString(Model.currencyFormat, Model.Portugal)" readonly />
            <br />
            <button class="btn btn-success" type="submit">Calculate</button>
        </div>
    </form>
</main>

