<footer class="border-top footer text-muted">
    <div class="container text-center">
        &copy; 2019 - Ana Lucia Petinga Zorro Razor Contoso |
        Bucks New University |
        Foundation Degree in Computing |
        CO550 Web Applications
        <br />
        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> |
        <a href="#">About</a> |
        <a href="#">Contact</a>
    </div>
</footer>
